* {
    box-sizing: border-box;
    font-family: "Open Sans", cursive, sans-serif;
}

*::selection {
    background-color: #e9ca17;
}

/* ------ ------ Body & Html ------ ------ */
html {
    margin: 0;
    width: 100vw;
    min-width: 100%;
    top: 0;
    background-color: #31231A;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.06'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
    background-position:0 0, 20px 20px;
    scroll-padding-top: 6.5em; /* This should be the same as the header height */
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
}

#background-gradient {
    background: linear-gradient(0deg, rgba(12, 5, 0, 0.48) 0%, rgba(255,255,255,0) 100%);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -5;
}

a {
    color: rgb(51, 44, 4);
}

#page-content {
    width: 1300px;
    min-height: 100vh;
    background-color: rgb(179, 171, 167);
    box-shadow: 0 0 5px rgba(0,0,0,.14), 0 5px 12px rgba(0,0,0,.28);
    margin: auto;
}

#page-container {
    padding-top: 6.5em;
}

main {
    width: 92.5%;
    margin: auto;
}

header {
    display: flex;
    background-color: rgb(37, 30, 27);
    height: 6.5em;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
    box-shadow: rgb(0 0 0 / 14%) 0px 0px 4px, rgb(0 0 0 / 28%) 0px 4px 8px;
    position: fixed;
    /*width: 1325px; /* should be slightly bigger than the page content */
    width: 100%;
    z-index: 99;
}

.header-top {
    display: flex;
    width: 100%;
    height: 61.5%;
    /*background-color: blue;*/
}

.header-bottom {
    display: flex;
    width: 100%;
    height: 38.5%;
    /*background-color: red;*/
}

.header-container {
    width: 53%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.header-container section {
    background-color:rgb(98, 83, 77);
    height: 1.35rem;
    margin-top: .175rem;
    width: 1px;
}

.header-container a {
    display: block;
    color: whitesmoke;
    text-decoration: none;
    padding: .25rem 1rem;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.header-container a:hover {
    color:rgb(153, 122, 20);
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.header-container a:active {
    color:rgb(121, 74, 12);
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.header-logo {
    display: block;
    height: 100%;
    width: 22.5%;
    padding-left: 3%;
    text-align: center;
    line-height: 4.25em;
}

.header-logo img {
    width: 100%;
    height: 100%;
}

.header-search {
    display: block;
    width: 30%;
    height: 50%;
    margin: auto;
    margin-left: 35%;
    
}

.header-signup {
    margin: 0 1%;
}

.header-login {
    margin-left: 1%;
}

.button-1 {
    cursor: pointer;
    display: block;
    width: 7.5em;
    padding: .35em 1em;
    height: 50%;
    margin-top: 1.18em;
    background-color: rgb(223, 223, 223);
    border: 1px outset rgb(118,118,118);
    color: black;
    text-decoration: none;
    font-size: .825rem;
    text-align: center;
    border-radius: 3px;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.button-1:hover {
    background-color: rgb(185, 185, 185);
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}


.button-dark {
    margin-top: 1.18em;
    background-color:rgb(68, 68, 68);
    color: white;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.button-dark:hover {
    background-color: rgb(34, 34, 34);
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 6.5em;
    padding: 1em;
    background-color: rgb(95, 76, 76);
}

footer div {
    width: 33.33%;
    height: 100%;
    text-align: center;
}

footer div nav a, footer div address a {
    color:rgb(248, 226, 102);
    text-decoration: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

footer div address a {
    display: block;
}

footer div:last-child p {
    margin: 0;
    line-height: 2.35em;
}

footer div nav a:hover, footer div address a:hover {
    color:rgb(250, 245, 218);
    text-decoration: underline;
}

.footer-logo {
    margin-bottom: .25em;
    margin-top: 0;
}

.footer-copyright {
    margin-bottom: 0;
    margin-top: .35em;
}

.forum-navbar-container {
    position: fixed;
    top: 25vh;
    height: 50vh;
    width: 13em;
    left: 0;
    background-color: rgb(179, 171, 167);
    box-shadow: 0 0 5px rgba(0,0,0,.14), 0 5px 12px rgba(0,0,0,.28);
    border-bottom-right-radius: 6px;
    z-index: 101;
}

.forum-navbar-topbar {
    background-color: rgb(37, 30, 27);
    border-bottom: 0px;
    height: 1.75em;
}

.forum-navbar-content {
    margin-left: 1em;
}

.forum-navbar-content nav a {
    display: block;
    margin-bottom: 1em;
}

.parallaxBG-large {
    /* Makes a parallax image background (Large) */
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Specify the background image in HTML using the style attribute */
}

.parallaxText1 {
    /* Positions the parallaxText to be on top of the parallaxBG div */
    position: absolute;
    top: 35em;
    left: 40em;
    transform: translate(-45%, -65%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.parallaxText1 h2, .parallaxText2 h2 {
    /* Header2 Text for parallaxText */
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px 2px #26201F;
    margin-bottom: .25em;
}

.parallaxText1 a {
    /* The parallaxText button */
    position: absolute;
    transform: translateX(-15em);
    box-shadow: 0 0 5px rgba(0,0,0,.14), 0 5px 12px rgba(0,0,0,.28);
    background: #31231A;
    padding: 24px;
    color: white;
    text-decoration: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.parallaxText1 a:hover {
    /* Changes color of the parallaxText button when hovered over */
    background: #704e39;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.profile-page {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.post-box, .profile-box {
    background-color: whitesmoke;
    border-radius: 6px;
    padding: .25em;
    padding-left: .65em;
    margin-top: .75em;
    box-shadow: 0 0 5px rgba(0,0,0,.14), 0 5px 12px rgba(0,0,0,.28);
}

.post-box:last-of-type {
    margin-bottom: .75em;
}

.post-box-title h3, .post-box-title hr {
    margin: .25em 0;
}

.post-box-content {
    margin: 0;
}

.profile-box {
    width: 92.5%;
}

.profile-box-image {
    width: 100%;
    height: 8em;
    background: url('../Images/default_profile.png');
    background-size: 100% 100%;
}

/* ------ ------ Slideshow Fade effect ------ ------ */
.fade {
    /* Slideshow fade */
    -webkit-animation: fade ease 2s;
    -moz-animation: fade ease 2s;
    -o-animation: fade ease 2s;
    -ms-animation: fade ease 2s;
    animation: fade ease 2s;
}
@keyframes fade {
    /* Keyframes for slideshow fade */
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fade {
    /* Keyframes for slideshow fade */
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fade {
    /* Keyframes for slideshow fade */
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fade {
    /* Keyframes for slideshow fade */
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fade {
    /* Keyframes for slideshow fade */
    0% {opacity:0;}
    100% {opacity:1;}
}


/* ------ ------ Image Links ------ ------ */


/* ------ ------ ID Styles ------ ------ */
#slideshowContainer {
    background: linear-gradient(0deg, rgba(27,16,0,1) 0%, rgba(255,255,255,1) 100%);
    z-index: 50;
    width: 100%;
    max-width: 100%;
    height: 40em;
    max-height: 40em;
}

#slideshowImage {
    background-image: url('../Images/Slideshow/4.jpg');
    filter: sepia(25%);
}

#posts-container {
    width: 70%;
}

#profile-container {
    width: 30%;
}